<p id="notice"><%= notice %></p>
<div class="col-md-6">
  <div class="caption">
    <p><%= @advertise.race %></p>
    <p><%= @advertise.comments %></p>
    <%= @advertise.name if @advertise.name %>
    <p><%= @advertise.city %></p>
    <% if ["perdido", "encontrado"].include?(@advertise.status) %>
    <p><%= @advertise.street1 %> con <%= @advertise.street2 %></p>
    <p><%= @advertise.color1 %><%= " y #{@advertise.color2}" %></p>
    <% end %>
    <p><%= @advertise.when.strftime("Dia: %m/%d/%Y Hora: %I:%M%p") %></p>
    <p>Tamaño: <%= @advertise.size %></p>
    <p>Edad(aprox): <%= @advertise.age %></p>
    <h3>¡Compartirlo ahora!</h3>
    <%= render partial: 'shared/sharetis', locals: { advertise: @advertise } %>
  </div>
  <% if @advertise.user == current_user %>
    <%= link_to 'Editar', edit_advertise_path(@advertise), class: "btn btn-danger btn-lg" %>
    <%= link_to 'Confirmar', root_path, class: "btn btn-success btn-lg" %>
  <% end %>
</div>
<div class="col-md-6">
  <%= image_tag @advertise.image.url, alt: "#{@advertise.race}" %>
</div>

