<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @advertise.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @advertise.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @advertise.status %>
</p>

<p>
  <strong>Color1:</strong>
  <%= @advertise.color1 %>
</p>

<p>
  <strong>Color2:</strong>
  <%= @advertise.color2 %>
</p>

<p>
  <strong>Race:</strong>
  <%= @advertise.race %>
</p>

<p>
  <strong>Street1:</strong>
  <%= @advertise.street1 %>
</p>

<p>
  <strong>Street2:</strong>
  <%= @advertise.street2 %>
</p>

<p>
  <strong>Name:</strong>
  <%= @advertise.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @advertise.size %>
</p>

<p>
  <strong>When:</strong>
  <%= @advertise.when %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @advertise.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @advertise.age %>
</p>

<%= link_to 'Edit', edit_advertise_path(@advertise) %> |
<%= link_to 'Back', advertises_path %>
