<p id="notice"><%= notice %></p>

<h2>Confirme que los datos son correctos</h2>

<h3>
  <%= @advertise.status.capitalize %>
</h3>

<p>
  <strong>Comentarios:</strong>
  <%= @advertise.comments %>
</p>


<p>
  <strong>Color principal:</strong>
  <%= @advertise.color1 %>
</p>

<p>
  <strong>Otro color:</strong>
  <%= @advertise.color2 %>
</p>

<p>
  <strong>Raza:</strong>
  <%= @advertise.race %>
</p>

<p>
  <strong>Calle principal:</strong>
  <%= @advertise.street1 %>
</p>

<p>
  <strong>A que altura:</strong>
  <%= @advertise.street2 %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @advertise.name %>
</p>

<p>
  <strong>Tamaño:</strong>
  <%= @advertise.size %>
</p>

<p>
  <strong>Fecha y hora:</strong>
  <%= @advertise.when %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @advertise.gender %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @advertise.age %>
</p>

<%= link_to 'Editar', edit_advertise_path(@advertise), class: "btn btn-danger btn-lg" %>
<%= link_to 'Cofirmar', root_path, class: "btn btn-success btn-lg" %>
