<div class="col-sm-3 col-md-3 col-lg-3">
  <div class="thumbnail">
    <%= image_tag advertise.image.url, class: "img-responsive" %>
    <div class="caption">
      <p><%= advertise.race %></p>
      <p><%= advertise.comments %></p>
      <%= advertise.name if advertise.name %>
      <p><%= advertise.street1 %> con <%= advertise.street2 %></p>
      <p><%= advertise.color1 %><%= " y #{advertise.color2}" %></p>
      <p><%= advertise.when.strftime("Dia: %m/%d/%Y Hora: %I:%M%p") %></p>
      <p>Tamaño: <%= advertise.size %></p>
      <p>Edad(aprox): <%= advertise.age == 0 ? "Cachorro" : advertise.age %></p>
      <p>
        <span class='st_facebook_large' displayText='Facebook' st_url="<%= "http://redeperros.herokuapp.com/advertises/#{advertise.id}" %>" st_title="<%= "ReDePerros: #{advertise.status}" %>" st_image=<%= "http://redeperros.org#{advertise.image.url}" %> st_summary="<%= "#{advertise.comments}" %>"></span>
        <span class='st_twitter_large' displayText='Tweet' st_url="<%= "http://redeperros.herokuapp.com/advertises/#{advertise.id}" %>" st_title="<%= "ReDePerros: #{advertise.status}" %>" st_image=<%= "http://redeperros.org#{advertise.image.url}" %> st_summary="<%= "#{advertise.comments}" %>"></span>
        <span class='st_googleplus_large' displayText='Google +' st_url="<%= "http://redeperros.herokuapp.com/advertises/#{advertise.id}" %>" st_title="<%= "ReDePerros: #{advertise.status}" %>" st_image=<%= "http://redeperros.org#{advertise.image.url}" %> st_summary="<%= "#{advertise.comments}" %>"></span>
        <span class='st_email_large' displayText='Email' st_url="<%= "http://redeperros.herokuapp.com/advertises/#{advertise.id}" %>" st_title="<%= "ReDePerros: #{advertise.status}" %>" st_image=<%= "http://redeperros.org#{advertise.image.url}" %> st_summary="<%= "#{advertise.comments}" %>"></span>
      </p>
      <p><%= link_to "Enviar Mensaje al anunciante", new_user_message_path(advertise.user), class: "btn btn-success" %></p>
    </div>
  </div>
</div>
<!-- /.row -->