<div class="col-sm-3 col-md-3 col-lg-3">
  <div class="thumbnail">
    <%= image_tag advertise.image.url, class: "img-responsive" %>
    <div class="caption">
      <h3><%= advertise.name.capitalize if advertise.name %></h3>
      <p><%= advertise.race.capitalize %></p>
      <p>Se perdio en:</p>
      <p><%= advertise.street1 %> y <%= advertise.street2 %></p>
      <p>Tamaño: <%= advertise.size %></p>
      <hr>
      <p><%= advertise.color1 %><%= " y #{advertise.color2}" %></p>
      <p><%= advertise.when.strftime("Dia: %m/%d/%Y Hora: %I:%M%p") %></p>
      <p>Edad(aprox): <%= advertise.age == 0 ? "Cachorro" : advertise.age %></p>
      <p><%= advertise.comments %></p>
      <p>
        <span class='st_facebook_large' displayText='Facebook' st_url="<%= "http://redeperros.herokuapp.com/advertises/#{advertise.id}" %>" st_title="<%= "ReDePerros: #{advertise.status}" %>" st_image=<%= "http://redeperros.org#{advertise.image.url}" %> st_summary="<%= "#{advertise.comments}" %>"></span>
        <span class='st_twitter_large' displayText='Tweet' st_url="<%= "http://redeperros.herokuapp.com/advertises/#{advertise.id}" %>" st_title="<%= "ReDePerros: #{advertise.status}" %>" st_image=<%= "http://redeperros.org#{advertise.image.url}" %> st_summary="<%= "#{advertise.comments}" %>"></span>
        <span class='st_googleplus_large' displayText='Google +' st_url="<%= "http://redeperros.herokuapp.com/advertises/#{advertise.id}" %>" st_title="<%= "ReDePerros: #{advertise.status}" %>" st_image=<%= "http://redeperros.org#{advertise.image.url}" %> st_summary="<%= "#{advertise.comments}" %>"></span>
        <span class='st_email_large' displayText='Email' st_url="<%= "http://redeperros.herokuapp.com/advertises/#{advertise.id}" %>" st_title="<%= "ReDePerros: #{advertise.status}" %>" st_image=<%= "http://redeperros.org#{advertise.image.url}" %> st_summary="<%= "#{advertise.comments}" %>"></span>
      </p>
      <% if current_user == advertise.user %>
        <%= link_to 'Editar', edit_advertise_path(advertise), class: "btn btn-success" %>
        <%= link_to 'Borrar', advertise_path(advertise), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      <% elsif current_user %>
        <p><button class="btn btn-success" onclick="$('.message_form<%= advertise.id %>').toggle();">Enviar Mensaje al anunciante</button></p>
        <div class="message_form<%= advertise.id %>" style="display: none">
            <%= form_tag("/users/#{current_user.id}/messages", method: "post") do %>
              <div class="form-group">
                <%= hidden_field_tag(:receiver_id, advertise.user.id) %>
                <%= label_tag :text, "Escriba aqui:" %>
                <%= text_area_tag :text, nil, class: "form-control" %>
                <%= submit_tag "Enviar", class: "btn btn-default" %>
              </div>
            <% end %>
          </div>
        <% else %>
          <h2 style="color: black">Registrate para enviar un mensaje</h2>
          <%= link_to "Registrarse", new_user_registration_path, class: "btn btn-success" %>
        <% end %>
    </div>
  </div>
</div>
<!-- /.row -->