<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'ReDePerros', root_path, class: 'logo navbar-brand strong' %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to 'Perdidos', advertises_path(filter: 'perdido') %>
        </li>
        <li>
          <%= link_to 'Encontrados', advertises_path(filter: 'encontrado') %>
        </li>
        <li>
          <%= link_to 'Transitos', advertises_path(filter: 'transito') %>
        </li>
        <li>
          <%= link_to 'Adopciones', advertises_path(filter: 'adopcion') %>
        </li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <% if current_user %>
          <%= link_to "  Publicar anuncio", new_advertise_path(user_id: current_user.try(:id)), class: "btn btn-danger" %>
          <%= link_to "#{current_user.unread_messages?.count} Mensajes", user_messages_path(current_user), class: "btn btn-success" %>
          <%= link_to "Salir", user_destroy_session_path, :method => :delete, class: "btn btn-danger" %>
          <% else %>
          <%= link_to "Entrar", new_user_session_path, class: "btn btn-danger" %>
          <%= link_to "Registrarse", new_user_registration_path, class: "btn btn-success" %>
          <% end %>
        </div>
      </form>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>