<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Una red para los perros perdidos, encontrados, en tránsito o adopción">
  <meta name="author" content="ReDePerros">
  <meta property="og:image" content="http://redeperros.com/logo.jpg">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="538">
  <meta property="og:image:height" content="960">

  <title>ReDePerros</title>

  <!-- Bootstrap Core CSS -->
  <%= stylesheet_link_tag "application", media: "all" %>

  <!-- Bootstrap Core JS -->
  <%= javascript_include_tag "application" %>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "c0ac88fa-6227-4768-a461-2f8eff5d6468", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Page Content -->
  <%= render partial: 'layouts/topbar' %>

  <div class="container">
    <%= render partial: "shared/flash_messages", flash: flash %>

    <%= yield %>

    <hr>

    <%= render partial: 'layouts/footer' %>

  </div>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js?ver=1.4.0"></script>
</body>
</html>
